SRC_DIR=/secure_src            # 원본(암호문 저장소)
MNT_DIR=/secure_mnt            # 마운트(평문 보이게)
POLICY_PATH_ID=/secure_src     # 정책서버에 등록된 path
MANAGER_URL=http://127.0.0.1:8080
MANAGER_JWT=change-this-secret
POLICY_ID=pol-main
PROJECT_ID=default
POLL_INTERVAL=30
DXT_FIPS_MODE=0
